.colors {
    background-image: url(../images/colors.png) !important;
}

.gear {
    background-image: url(../images/gear.png) !important;
}

.help {
    background-image: url(../images/help.png) !important;
}

.new {
    background-image: url(../images/new.png) !important;
}

.x-color-picker {
    width: 240px;
    height: 240px;
    background-color: white;
    border-color: white;
    border-width: 0;
    border-style: solid;
}

.x-color-picker-item {
    width: 15px;
    height: 15px;
    border-width: 0px;
    border-color: white;
    border-style: solid;
    background-color: white;
    cursor: pointer;
    padding: 2px;
}
